.Stitle {
  margin: 30px 40px 10px 60px;
  font-size: 30px;  
  background-color: rgb(22, 72, 99);  
  padding: 15px;
  color: white;
}


.sum{
  font-size: 20px;  
  margin: 30px 60px 50px 70px;
  padding: 10px;
}


 a {
  color: #0066cc;  
  text-decoration: none;  
}

a:hover {
  text-decoration: underline;  
}